<div id="spree-header" style="margin-bottom:0px; background:none">
  <div class="row">
    <div class="col-md-12">
      <%#image_tag 'gym-bg.png', :class => "course-type-logo"%>
      <header id="header" data-hook  style="background: none; padding: 0px; width: 100%; z-index: 1;">
        <div class="container">
          <div class="row">
            <figure id="logo" class="col-md-4" data-hook>
              <%= image_tag 'rm-logo.png'%>
            </figure>
            <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
          </div>
        </div>
      </header>  
  </div>

  </div>
</div>